<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grupo8_elpaseotelolleva">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconopaseo"
        android:label="El paseo te lo lleva"
        android:roundIcon="@mipmap/iconopaseo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".QuienesSomosActivity"></activity>
        <activity android:name=".ConfiguracionPago"
            android:parentActivityName=".CarritoActivity"/>
        <activity android:name=".RegistrarseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CarritoActivity" />
        <activity android:name=".ProductosActivity" />
        <activity
            android:name=".DetalleProductoActivity"
            android:parentActivityName=".ProductosActivity" />
        <activity android:name=".IniciarSesionActivity" />
    </application>

</manifest>